[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/googlebenchmark"]
	path = external/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "external/Clara"]
	path = external/Clara
	url = https://github.com/catchorg/Clara
[submodule "external/tinyobj"]
	path = external/tinyobj
	url = https://github.com/syoyo/tinyobjloader
