language: cpp

matrix:
  include:
    # Test Ubuntu 14.04 + gcc
    - os: linux
      dist: trusty
      sudo: required
      compiler: gcc
    # Test OS X 10.10 + Xcode 6.4 + clang
    - os: osx
      osx_image: xcode6.4
      compiler: clang
    # Test OS X 10.10 + Xcode 6.4 + gcc
    - os: osx
      osx_image: xcode6.4
      compiler: gcc
    # Test OS X 10.11 + Xcode 7.3 + clang
    - os: osx
      osx_image: xcode7.3
      compiler: clang
    # Test OS X 10.11 + Xcode 7.3 + gcc
    - os: osx
      osx_image: xcode7.3
      compiler: gcc

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install zlib1g-dev; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install scons; fi

script:
  - scons
  - bin/unit_tests
